# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/

# Other files and folders
.settings/

.env merge=ours

lib/service/service/models/wp_postmeta.model.ts merge=ours
lib/service/service/models/wp_posts.model.ts merge=ours
public/image/logo.png merge=ours
components/Nav/index.tsx merge=ours
lib/constants/index.ts merge=ours


# Executables
*.swf
*.air
*.ipa
*.apk

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
